<!DOCTYPE html>
<html>
<head>
    <title>Criar Conta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center">
    <div class="card">
        <div class="brand-side">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="SchoolEvents Logo" style="width: 200px; height: auto;">
        </div>
        <header>
            <h2>Criar Conta</h2>
        </header>
        {% if erro %}
            <p style="color:red;">{{ erro }}</p>
        {% endif %}

        <form method="POST">
            <div class="input-field">
                <input name="email" type="email" placeholder="E-mail" required>
            </div>
            <div class="input-field">
                <input name="senha" type="password" placeholder="Palavra-passe" required>
            </div>
            <button type="submit">Criar conta</button>
        </form>

        <br>
        <a href="{{ url_for('select_login') }}">Voltar ao login</a>
    </div>
</body>
</html>